<h1>Vous avez recu un nouveau message via le sire 20touch Agency</h1>
<p>Nom: {{ contact.name }}</p>
<p>Adresse mail: {{ contact.email }}</p>
<p>Sujet: {{ contact.subject }}</p>
<p>Message: {{ contact.content }}</p>